fastapi
uvicorn
numpy
websockets
ffmpeg-python
setuptools-rust
tiktoken
# git+https://github.com/openai/whisper.git
# torch
openai-whisper

python-multipart
# CPU-only version of torch
torch --extra-index-url https://download.pytorch.org/whl/cpu

matplotlib

# LLM dependencies
langchain-openai
langchain-core
python-dotenv
openai