fastapi
uvicorn
websockets
ffmpeg-python
setuptools-rust
tiktoken
git+https://github.com/openai/whisper.git
transformers
numpy
python-multipart
#torch only for cpu
torch --extra-index-url https://download.pytorch.org/whl/cpu
matplotlib
